.title-event{
    margin-top: -60px;
    margin-bottom: 30px;
    color: #1e1e1e;
    font-family: 'Architects Daughter', cursive;
    font-size: 60px;

}

.card-event{
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    width: 95%;
}

.img-card-event{
    width: 100%;
    border-radius: 20px;
    height: 25vh;
}

.desc-img-e{
    color: rgb(77, 75, 75);
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;

}

.title-card-e{
    font-size: 24px;
    margin-top: 10px !important;
    margin-bottom: 20px;
}

.time, .price{
    color: rgb(77, 75, 75);
    font-size: 20px;
    /* font-family: 'Architects Daughter', cursive; */
    line-height: 28px;
}

.price{
    font-weight: bold;
    color: rgb(27, 27, 27);
    line-height: 50px;
    font-family: arial;
}

.fa-calendar{
    margin-right: 3px;
}

.fa-map-marker-alt{
    margin-right: 7px;
}

@media screen and (max-width: 966px){
    .row-event{
        display: block;
        /* justify-content: center; */
    }

    .col-event{
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
    }

    .img-card-event{
        width: 100%;
        border-radius: 20px;
        height: 55vh;
    }
}

@media screen and (max-width: 560px){
    .col-event{
        width: 100%;
    }

    .card-event{
        /* background-color: #999; */
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
        width: 95%;
    }

    .title-event{
        margin-top: 10px;
    }
}